@charset "utf-8";
/*
 * Name     : general.css
 * Version  : 1.0
 * Author   : onepixel studio
 * Date     : 2022-07-27
 * Table of contents
 * ------------------------------------------------------
 * 01) Reset
 */

/* *********************************************
 * Reset
 ******************************************** */
* {
	box-sizing: border-box
}

*:before, *:after {
	box-sizing: border-box
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.42857143;
	word-break: keep-all
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none
}

body {
    font-family: 'SUIT',sans-serif;
    overflow-x: hidden
}

ul, ol, dl, dt, dd, p, h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	list-style:none
}

a {
	color: #333;
	text-decoration: none
}

a:hover, a:active, a:focus {
	text-decoration: none !important;
	outline: none !important
}

button, input, select, textarea {
    font: inherit;
    vertical-align: middle
}

input[type=text], input[type=password], select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

select::-ms-expand {
	display: none
}

img {
	max-width: 100%;
	border: 0;
	vertical-align: middle
}

form, fieldset {
	margin: 0;
	padding: 0;
	border: none
}

legend, caption {
	display: none !important
}

.sr-only {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0,0,0,0); white-space: nowrap; border: 0}